<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>QA Evaluator</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="../css/compare.css" />
  </head>

  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#nav"
        aria-controls="nav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">QA Evaluator</a>

      <div class="collapse navbar-collapse" id="nav">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/">Experiment </a>
          </li>
          <li>
            <a class="nav-link active" href="#"
              >Compare results<span class="sr-only">(current)</span></a
            >
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row ">
        <div class="form-group col-md-12">
          <label for="datasetComp">Dataset</label>
          <select id="datasetComp" class="form-control"> </select>
        </div>
        <div class="col-md-12">
          <div
            class="piePlot "
            id="answerTypes"
            style="max-width: 800px; min-width: 360px;"
          ></div>
        </div>
      </div>

      <div class="row">
        <div class="form-group row col-md-12 placeInFront">
          <label for="selectSystem1" class="col-md-2 col-form-label "
            >Experiment Name 1</label
          >
          <div class="col-md-4">
            <select id="selectSystem1" class="form-control"> </select>
          </div>
          <label for="selectSystem1Same" class="col-md-2 col-form-label "
            >Results</label
          >
          <div class="col-md-4">
            <select id="selectSystem1Same" class="form-control"> </select>
          </div>
        </div>

        <div class="col-md-12">
          <div
            class="scatterPlot"
            id="selectSystem1SameScatter"
            style="max-height: 250px;max-width: 1200px; min-width: 360px;"
          ></div>
        </div>
        <div class="col-md-6">
          <h2>Information</h2>
          <div id="information1" class="row justify-content-center"></div>
        </div>
        <div class="col-md-6">
          <h2 id="totalFoundMain1">Total found</h2>
          <div id="totalFound1" class="row justify-content-center"></div>
        </div>
        <div class="col-md-6">
          <h2>Answertypes</h2>
          <div id="answerTypes1" class="row justify-content-center"></div>
        </div>
        <div class="col-md-6">
          <h2>Metrics</h2>
          <div id="metrics1" class="row justify-content-center"></div>
        </div>
        <div id="barcode1" class="col-md-12"></div>
      </div>
      <div class="row">
        <div class="col-md-12 table-responsive">
          <table id="compareSystemsTable" class="table">
            <span id="closeTable">Close table X</span>
            <caption></caption>

            <thead class="thead-light">
              <tr>
                <th scope="col">SPARQL Query</th>
                <th scope="col">NrSystem</th>
                <th scope="col">NrCorrect</th>
                <th scope="col">Entities</th>
                <th scope="col">Properties</th>
                <th scope="col">
                  Classes
                </th>
              </tr>
            </thead>
            <tbody id="">
              <tr id="tr1"></tr>
              <tr id="tr2"></tr>
            </tbody>
            <thead class="thead-light">
              <tr>
                <th scope="col">SPARQL Query</th>
                <th scope="col">NrSystem</th>
                <th scope="col">NrCorrect</th>
                <th scope="col">Entities</th>
                <th scope="col">Properties</th>
                <th scope="col">Classes</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
      <div class="row">
        <div id="barcode2" class="col-md-12"></div>
        <div class="col-md-6">
          <div id="answerTypes2" class="row justify-content-center"></div>
          <h2>Answertypes</h2>
        </div>
        <div class="col-md-6">
          <div id="metrics2" class="row justify-content-center"></div>
          <h2>Metrics</h2>
        </div>
        <div class="col-md-6 placeInFront">
          <div id="information2" class="row justify-content-center"></div>
          <h2>Information</h2>
        </div>
        <div class="col-md-6 placeInFront">
          <div id="totalFound2" class="row justify-content-center"></div>
          <h2 id="totalFoundMain2">Total found</h2>
        </div>
        <div class="col-md-12">
          <div
            class="scatterPlot"
            id="selectSystem2SameScatter"
            style="max-height: 250px;max-width: 1200px; min-width: 360px;"
          ></div>
        </div>

        <div class="form-group row col-md-12">
          <label for="selectSystem2" class="col-md-2 col-form-label "
            >Experiment Name 2</label
          >
          <div class="col-md-4">
            <select id="selectSystem2" class="form-control"> </select>
          </div>
          <label for="selectSystem2Same" class="col-md-2 col-form-label "
            >Results</label
          >
          <div class="col-md-4">
            <select id="selectSystem2Same" class="form-control"> </select>
          </div>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
    <script src="../javascript/global.js"></script>
    <script src="../javascript/piePlot.js"></script>
    <script src="../javascript/scatterPlot.js"></script>
    <script src="../javascript/barcodePlot.js"></script>
    <script src="../javascript/compare.js"></script>
  </body>
</html>
