<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Qald Evaluator</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="../css/index.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#nav"
        aria-controls="nav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Qald Evaluator</a>

      <div class="collapse navbar-collapse" id="nav">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >Experiment<span class="sr-only">(current)</span></a
            >
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <form id="exForm" class="col-md-12" onsubmit="return false;">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="exName">Experiment Name</label>
              <input
                type="text"
                class="form-control"
                id="exName"
                placeholder="insert an experiment name"
                minlength="3"
                maxlength="25"
                value="TestEx"
                required
              />
            </div>
            <div class="form-group col-md-6">
              <label for="exDataset">Dataset</label>
              <select class="form-control" id="exDataset">
                <option>1question</option>
                <option>testData20</option>
                <option>qald-9</option
                ><option>validation-error</option>
              </select>
            </div>
            <div class="form-group col-md-12">
              <label for="exSystemUrl">System URL</label>
              <input
                type="text"
                class="form-control"
                id="exSystemUrl"
                placeholder="http://URLTOTHEQASYSTEM/"
                maxlength="400"
                value="http://localhost:8080/gerbil-execute/NER-Stanford,%20NED-AGDISTIS,%20EarlRelationLinking,%20DiambiguationClass,%20QueryBuilder/"
                autocomplete="true"
                required
              />
            </div>
          </div>
          <button type="submit" class="btn btn-primary">
            Start experiment
          </button>
        </form>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>Running</h2>
          <table id="runEvalsTable" class="table">
            <caption>
              Running evalutations
            </caption>
            <thead class="thead-dark">
              <tr>
                <th class="pressable" scope="col"onclick="sortTable(0, 'runEvalsTable')">Date</th>
                <th class="pressable" scope="col"onclick="sortTable(0, 'runEvalsTable')">Id</th>
                <th class="pressable" scope="col"onclick="sortTable(1, 'runEvalsTable')">Name</th>
                <th class="pressable" scope="col"onclick="sortTable(2, 'runEvalsTable')">Dataset</th>
                <th class="pressable" scope="col"onclick="sortTable(3, 'runEvalsTable')">Progress</th>
                <th class="pressable" scope="col"onclick="sortTable(4, 'runEvalsTable')">State</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>

      <h2>Finished</h2>
      <table id="finEvalsTable" class="table">
        <caption>
          Finished evalutations
        </caption>
        <thead class="thead-dark">
          <tr>
            <th class="pressable" scope="col" onclick="sortTable(0, 'finEvalsTable')">Date</th>
            <th class="pressable" scope="col" onclick="sortTable(0, 'finEvalsTable')">Id</th>
            <th class="pressable" scope="col" onclick="sortTable(1, 'finEvalsTable')">Name</th>
            <th class="pressable" scope="col" onclick="sortTable(2, 'finEvalsTable')">Dataset</th>
            <th class="pressable" scope="col" onclick="sortTable(3, 'finEvalsTable')">QALD F-Measure</th>
            <th class="pressable" scope="col" onclick="sortTable(4, 'finEvalsTable')">Errors</th>
            <th class="pressable" scope="col" onclick="sortTable(5, 'finEvalsTable')">State</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
        </div>
      </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="../javascript/index.js"></script>
  </body>
</html>
