html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}

.material-icons {
  line-height: 0;
}

.pressable {
  cursor: pointer;
}

.container-fluid > :first-child {
  margin-top: 15px;
}

.container-fluid > .row {
  margin-bottom: 25px;
}

@media screen and (min-width: 800px) {
  .container-fluid {
    padding: 0 50px 0 50px;
  }
}
.tableFixHead {
  overflow-y: auto;
  max-height: 800px;
  margin-bottom: 15px;
}
.tableFixHead thead th {
  position: sticky;
  top: 0;
}

td[id^="del"] {
  color: red;
}

tr[id^="trFin"]:hover {
  background-color: lightgray;
  cursor: pointer;
}

tr.toCompare {
  background-color: lightgray;
}

@-webkit-keyframes demo {
  0% {
    background-color: lightgrey;
    opacity: 1;
  }

  100% {
    background-color: Red;
  }
}

.demo {
  -webkit-animation-name: demo;
  -webkit-animation-duration: 900ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
}
