html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}

.material-icons{
  line-height: 0;
}

.pressable {
  cursor: pointer;
}

.container-fluid > :first-child {
  margin-top: 15px;
}

.container-fluid > .row {
  margin-bottom: 25px;
}

@media screen and (min-width: 800px) {
  .container-fluid {
    padding: 0 50px 0 50px;
  }
}
